<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

   <h1>Faça o Upload da imagem que deseja tranformar em CARTOON</h1>
   <body class="container" >

      <form class="form" action = "http://localhost:8000/arquivos" method = "POST" 
         enctype = "multipart/form-data">
         <input type ="file"  id="meuArquivo" name ="meuArquivo" />
         <input class="btn" type = "submit"/>
      </form>   
   </body>
</html>